.icon {
  /*padding: 50px 0;*/
  max-width: 600px;
  margin: auto;
}

.largeText {
  font-size: 4em;
  font-style: italic;
  font-family: var(--primary-font); 
  /*margin-bottom: 1em;*/
  text-align: center;
}

.smallText {
  text-align: left;
  font-size: 2em;
  font-weight: 200;
}