.title {
  font-family: var(--primary-font);
  font-size: 2em;
  /*height: 33%;*/
  vertical-align: middle;
  /*border: 1px solid blue;*/
  font-weight: 300;
  font-style: italic;
}

.text {
  margin: 3em 0;
  padding: 0 1em;
  font-weight: 100;
  font-size: 1.2em;
  text-align: center;
  line-height: 2em;
}

.icon {
  max-width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row {
  /*height: 50%;*/
  /*border: 1px solid goldenrod;*/
  /*margin: auto;*/
}

.row > * {
  margin: auto;
}