.container {
  opacity: 1;
  padding: 2em 0;
  width: 100%;
}

.whiteBackground {
  background-color: var(--whitish);
  color: var(--slate);
}

.lightBackground {
  background-color: var(--light-grey);
  color: var(--slate);
}

.darkBackground {
  background-color: var(--slate);
  color: var(--whitish);
}

.lightFont {
  color: var(--whitish) !important;
}

.content {
  width: 90%;
  margin: auto;
  text-align: center;
  max-width: 900px;
}

.rows {
  width: 100%;
  justify-content: center;
}

.row {
  justify-content: center;
}

.goldBorder {
  border: 1px solid goldenrod;
}

.largeText {
  font-family: var(--primary-font), 'sans serif'; 
  font-size: 4em;
  font-style: italic;
  margin-bottom: 1em;
  text-align: center;

}

.smallText {
  text-align: left;
  font-size: 2em;
  font-family: var(--secondary-font), 'sans serif';
  font-weight: 100;
  flex: 0 1 100%;
}

.infoContainer {
  padding: 1em 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-decoration: none;
  color: var(--whitish);
  line-height: 2em;
}

.infoContainer:hover {
  color: rgb(119,136,153);

}

.smallIcon {
  padding: 0 1em;
  font-size: 2em !important;
  width: 100px;
  vertical-align: middle !important;
}

.smallIcon:before {

}

.leftAligned {
  text-align: left;
}

.colorPicker {
  z-index: 9;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
}