.container {
  opacity: 1;
  padding: 2em 0;
  width: 100%;
}

.whiteBackground {
  background-color: #f5f5f5;
  background-color: var(--whitish);
  color: var(--slate);
}

.lightBackground {
  background-color: #dcdcdc;
  background-color: var(--light-grey);
  color: var(--slate);
}

.darkBackground {
  background-color: #262626;
  background-color: var(--slate);
  color: #f5f5f5;
  color: var(--whitish);
}

.lightFont {
  color: #f5f5f5 !important;
  color: var(--whitish) !important;
}

.content {
  width: 90%;
  margin: auto;
  text-align: center;
  max-width: 900px;
}

.rows {
  width: 100%;
  justify-content: center;
}

.row {
  justify-content: center;
}

.goldBorder {
  border: 1px solid goldenrod;
}

.largeText {
  font-family: 'Playfair Display', sans-serif; 
  font-family: var(--primary-font);
  font-size: 4em;
  font-style: italic;
  margin-bottom: 1em;
  margin: .5em 0;
  text-align: center;
  letter-spacing: normal;
}

.smallText {
  text-align: left;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-family: var(--secondary-font), 'sans serif';
  font-weight: 100;
  flex: 0 1 100%;
}

.infoContainer {
  padding: 1em 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-decoration: none;
  color: #f5f5f5;
  color: var(--whitish);
  line-height: 2em;
}

.infoContainer:hover {
  color: #778899;
  color: var(--blue-grey);

}

.smallIcon {
  padding: 0 1em;
  font-size: 2em !important;
  width: 100px;
  vertical-align: middle !important;
}

.smallIcon:before {

}

.leftAligned {
  text-align: left;
}

