.headerStyle {
    /*position: absolute;*/
    background-color: transparent;
    width: 100%;
    /*height: 100px;*/
    /*top: 0;*/
}

.title {
    text-transform: none;
    transition: all 1s ease-in;
    font-size: 1.5em;
    color: var(--secondhand-grey);
}

.titleAppear {
    position: absolute;
    color: var(--whitish);
    /*left: 50%;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*transform: translate(calc(50vw), calc(25vh)) scale(3);*/
    transform: translateX( calc( calc( 50vw ) - calc(50%) ) ) translateY( calc(25vh) ) scale(4);
    /*transform: scale(3);*/
}

.titleAppearActive {
    /*left: 50%;*/
}

.navMenu {
    display: flex;
    padding: 0.5em;
    border-bottom: none;
    z-index: 4;
    position: relative;
}
