body, div, input {
  /*font-family: 'Titillium Web', 'Open Sans', sans-serif;*/
}

.container {
  /*border: 1px solid red;*/
  /*width: 100vw;*/
  height: 100vh;
  opacity: 0;
  display: flex;
  background-color: var(--slate);
}

.splash {
  width: 80%;
  margin: auto;
  text-align: center;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}

.splashHead {
  font-family: var(--primary-font);
  font-size: 12vw;
  font-weight: 300;
  color: white;
  border-radius: 5px;
  margin: 0;
  flex: 1 1 100%;
}

.splashSubhead {
  color: white;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  margin-top: 0;
}

.resume {
  text-transform: none;
  text-decoration: none;
  color: var(--light-grey);
}

.resume:hover {
  color: var(--whitish);
}
