
.container {
  color: var(--slate);
  z-index: 1; 
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--whitish);
}

.content {
  width: 90%;
  display: flex;
  flex: 0 1 100%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.rows {
  /*border: 1px solid red;*/
  width: 100%;
}

.row {
  /*border: 1px solid goldenrod;*/
  width: 100%;
}

.largeText {
  font-family: var(--primary-font); 
  font-size: 4em;
  font-style: italic;
  margin-bottom: 1em;
  text-align: center;
}

.smallText {
  text-align: left;
  font-size: 2em;
  font-weight: 200;
}